 /* ------------------------------------------------welcome page-------------------------------------------- */
 /* body  */
.back-ground{
    background-image: url('/images/background.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-blend-mode: rgba(0, 0, 0, 0);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 7, 30, 0.2);
    z-index: -1;
}

/* navigation bar */
nav{
    display: flex;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
    float: right;
}

nav ul li {
    display: inline-block;
    text-align: right;
    margin: 10px 20px;
    }

nav ul li:first-child {
    margin-right: auto;
}


nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    text-align: right;
}

/* header */
.header{
    font-size: 20px;
    color: rgb(232, 243, 252);
    text-align: center;
    padding-top: 100px;
}

/*button */
.custom-button {
    background-color: rgb(8, 3, 3);
    color: darkmagenta;
    padding: 10px 20px;
    border: round;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button a{
    color: darkmagenta;
    padding: 5px 10px;
    border: round;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover{
    background-color: rgb(228, 153, 228);
    color: darkmagenta;
    padding: 10px 20px;
    border: round;
    border-radius: 4px;
    cursor: pointer;
}

/* logo */
#navbar ul li.logo{
    width: auto;
    margin-left: 0; /* Adjust the margin to position the logo to the left */
    margin-right: auto;
}

#navbar ul li.logo img {
    height: 30px;
    width: auto;
} 


body{
    background-color: #262626;
    color: aliceblue;
}

/*--------------------------------------- about page---------------------------------------- */
.about{
    background-color: #262626;
}

#about{
    padding: 80px 0;
    color: #262626;
}

.about-row{
    display: flex;
    justify-content: space-between;
    word-wrap: wrap;
    background-color: rgb(141, 29, 122);
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 h1{
    color: rgb(192, 96, 192);
}

.about-col-2 p{
    color: aliceblue;
}

/* --------------------------------------event page---------------------------------------- */
* {
    box-sizing: border-box;
}

    
.event-body {
    margin: 0;
    background-color: #262626;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: darkmagenta;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgb(192, 96, 192);
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: darkmagenta;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: rgb(192, 96, 192);
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.8s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/*--------------------------------------- contact page------------------------------------- */
.contact{
    background-color: #262626;
}

.contact-row{
    display: flex;
    justify-content: space-between;
    word-wrap: wrap;
    background-color: #262626;                          
}

.contact-left {
    flex-basis: 35%;
    display: flex; /* Add this property to enable Flexbox */
    flex-direction: column;/* Add this property to stack elements  */
    justify-content: right;
}

.contact-right{
    flex-basis: 60%;
    display: flex; /* Add this property to enable Flexbox */
    flex-direction: column; /* Add this property to stack elements vertically */
    justify-content: left;
}

.contact-left p{
    color: aliceblue;
}

.contact-left p i{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(228, 153, 228);
    margin-right: 12px;
    font-size: 23px;
}

.sub-title{
    color: rgb(228, 153, 228);
    font-size: 47px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(228, 153, 228);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: rgb(8, 3, 3);
    color:  rgb(228, 153, 228);
    padding: 10px 20px;
    border: round;
    border-radius: 4px;
    cursor: pointer;
}

.btn.btn2:hover{
    background-color: rgb(228, 153, 228) ;
    color:  darkmagenta;
}

form input, form textarea{
    width: 64%;
    border: 0px;
    outline: none;
    background: rgb(8, 3, 3);
    padding: 15px;
    margin: 15px 0;
    color: rgb(228, 153, 228);
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 5px ;
    background: rgb(8, 3, 3);
    font-weight: 300;
    color: rgb(228, 153, 228);
    margin-top: 20px;
}

/*-----------------------------On smaller screens, decrease text size------------------------------*/
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    }